body {
    background-color: #FFD47B;
    color: #3B6BB3;
    font-family: Roboto;
}

/* navbar */

.navbar {
    background-color: #333;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

/* logo */

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    padding-left: 10px;
    height: 6vw;
    width: 6vw;
}

.logo h1 {
    font-size: 1.2em;
}

/* navigation list */

.navbar-links li {
    display: block;
    list-style: none;
    padding: 0.5em 0;
}

/* style all a tags in header and them on hoover */

.navbar-links a {
    background-color: #333;
    color: whitesmoke;
    display: inline-block;
    font-size: 1.5rem;
    letter-spacing: 2px;
    padding: 1rem 1.2rem;
    text-decoration: none;
}

main {
    padding: 2vw;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Grenze Gotisch";
    font-size:40pt;
    text-align: center;
}

h2 {
    margin: .1em;
}

header {
    text-align: center;
}

#hero, footer {
    background-color: #B38529;
    border: 2px solid #6EA8FF;
    color: #87B7FF;
    padding: 10px;
    text-align: center;
}

/* Hero Section */

#hero img {
    width: 300px;
}

/* Bio Section */

#bio {
    text-align: center;
}

/* Hobbies Section */

section#hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hobbies ul li:nth-last-child(odd) {
    color: red;
}

/* Gallery Section */

#gallery {
    border: 2px solid #61A5ED;
    margin-bottom: 2rem;
}

#gallery img {
    max-width: 100%;
}

#gallery figure {
    text-align: center;
}

/* Literature */
#lit {
    border: 2px solid #61A5ED;
    margin-bottom: 2rem;
}

#lit div {
    margin: 0 auto;
    max-width: 40rem;
    padding: 2rem;
}

#lit div p {
    clear: both;
    padding: 0.3rem 0;
}

/* video section */

#video {
    border: 2px solid #61A5ED;
    margin-bottom: 2rem;
}

#video iframe {
    max-width: 100%;
}

#video #myVideo {
    text-align: center;
}

iframe#myVideo {
    display: block;
    margin: 0px auto;
}

figcaption {
    margin: 20px;
    text-align: center;
}

#video figcaption {
    font-size: 1.5rem;
}

section#video {
    padding: 0 20px;
}



/* Dropcaps */
#lit div p:first-child:first-letter {
    background-image:linear-gradient(white, #ffd44b);
    border: 4px outset #87B7FF;
    border-bottom-left-radius: .2em;
    border-top-right-radius: .2em;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    color: red;
    float: left;
    font-family: 'MedievalSharp';
    font-size: 3em;
    line-height: .65;
    margin-right: .25em;
    padding: .25em;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, .5);
}

/* Contact Form */

#formElements {
    display: grid;
    row-gap: .5em;
}

#contact {
    margin: 2rem auto;
    max-width: 600px;
    padding: 1rem;
}

fieldset {
    border: 2px solid #61A5ED;
    margin-bottom: 1em;
    margin-top: 1em;
}

legend {
    background-color: #61A5ED;
    color: #fff;
    padding: .5em;
}

#contact input, #contact textarea, #contact select, #contact button {
    padding: .5em;
    font-size: 1rem;
}

#contact ul {
    list-style: none;
    padding: 0px;
}

#contact li {
    margin: 1rem;
}

#contact button {
    background-color: #61A5ED;
    border: 1px solid #3B6BB3;
    color: #fff;
    justify-self: center;
    max-width: 400px;
    width: 50%;
}

/* tablet size */
@media screen and (min-width: 60em) {
    figure {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    figcaption {
        align-items: center;
        display: flex;
        font-size: 2rem;
        justify-content: center;
        margin-left: 1rem;
    }

    figure img {
        width: 100%;
    }

    #lit div {
        columns: 20rem;
        max-width: 100%;
    }
}

/* large screen size*/
@media screen and (min-width: 100em) {
    #gallery{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    hr {
        display: none;
    }

    #gallery h2 {
        grid-column: 1/-1;
    }

    figure {
        display: block;
    }
}