body {
    background-color: #FFD47B;
    color: #3B6BB3;
    font-family: Roboto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Grenze Gotisch";
    text-align: center;
}

h1 {
    font-size:40pt;
}

header {
    text-align: center;
}

#hero, footer {
    background-color: #B38529;
    border: 2px solid #6EA8FF;
    color: #87B7FF;
    padding: 10px;
    text-align: center;
}

/* Hero Section */

#hero img {
    width: 300px;
}

/* Bio Section */

#bio {
    text-align: center;
}

/* Hobbies Section */

#hobbies ul li:nth-last-child(odd) {
    color: red;
}

/* Gallery Section */

#gallery {
    border: 2px solid #61A5ED;
}

#gallery img {
    max-width: 100%;
}

#gallery figure {
    text-align: center;
}